h1{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

p{
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5ex;
  letter-spacing:12;
  text-align: justify;
  color: darkgray; */
  font-family: 'Satisfy', cursive;
}

#p2{
  font-family: 'Rancho', cursive;
}